body {
    display: block;
    background-color: coral;
    color: white;
    margin: 0px;
    font-family: "Roboto";
}
.main {
    position: absolute;
    background-color: red;
    width: 70%;
    height: calc(100% - 80px);
    top: 0px;
    bottom: 80px;
    /*padding-top: 1%;*/
}
.side {
    display: flex;
    position: absolute;
    background-color: orange;
    width: 30%;
    height: calc(100% - 80px);
    top: 0px;
    right: 0px;
    justify-content: center;
    /*
    padding-top: 30px;
    padding-bottom: 30px;
    */
}
.container {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
}

.card {
    display: flex;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: aqua;
    margin: 1%;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    display: flex;
    align-self: center;
    flex-direction: column;
    position: relative;
    height: 33%;
    width: 100%;
    border: 1px solid purple;
    
}

.main > .container > .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 97%;
    /*
    width: min(80vw, calc(98vh - 80px));
    */
    align-self: center;
}
.side > .container {
    height: auto;
    align-self: center;
}

.side > .container > .card {
    display: flex;
    /*
    width: min(45vw, 200px);
    */
    width: max(47%, 150px);
    aspect-ratio: 5 / 4;
    justify-content: center;
    align-self: center;
}

.footer {
    /*background-color: blue;*/
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border: 1px solid green;
    justify-content: center;
}
.footer > .bottom {
    position: relative;
    justify-content: center;
    height: 100%;
    align-self: center;
    border: 1px solid green;
    width: 33%;
    
}
.circle {
    position: relative;
    display: flex;
    border-radius: 50%;
    background-color: #433333;
    text-align: center;
    height: 100%;
    aspect-ratio: 1/1;
    align-self: center;
}
.text_box {
    /* method 1
     * */
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-self: center;
    /*
    */
}
.content {
    /* method 1
     */
    font-family: "Roboto";
    align-self: center;
    */
    */
}
.mute_box {
    position: relative;
    background-color: violet;
    border: 5px solid yellow;
    z-index: 10;
    transform: translate(-200%, 0);
}
.text_box {
    /* method 1
     * */
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-self: center;
    /*
    */
}
.content {
    /* method 1
     */
    font-family: "Roboto";
    align-self: center;
    */
    */
}

.
    /*
    background-image: url("img/mute.svg");
    */
    background-color: white;
    height: 100%;
    width: 100%;
    transform: translate( -50%, -50% );
    
}

@media only screen and (max-width: 800px) {
    .side > .container > .card {
        /*
        aspect-ratio: 5/3;
        width: 100%;
        flex-basis: 65%;
        */
    }
}
@media only screen and (max-width: 500px) {
    /*
    .side {
        position: absolute;
        height: 200px;
        width: 100%;
        bottom: 80px;
        top: auto;
    }
    .side > .container > .card {
        width: auto;
        height: auto;
    }
    */
    .side  {
        display: none;
    }
    .main {
        width: 100%;
    }
}

@font-face {
    font-family: "Roboto";
    src:  url("fonts/SourceCodePro-Black.ttf") format("truetype");
}
