body {
    display: block;
    background-color: coral;
    color: white;
    margin: 0px;
}
.main {
    position: absolute;
    background-color: red;
    width: 60%;
    height: calc(100% - 80px);
    top: 0px;
    bottom: 80px;
    /*padding-top: 1%;*/
}
.side {
    position: absolute;
    background-color: orange;
    width: 40%;
    height: calc(100% - 120px);
    top: 0px;
    right: 0px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: center;
}

.card {
    border: 1px solid blue;
    border-radius: 5%;
    background-color: aqua;
}


.main > .container > .card {
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    width: min(100%, calc(100vh - 80px));
    align-self: center;
}

.side > .container > .card {
    display: flex;
    /*
    width: min(45vw, 200px);
    aspect-ratio: 5 / 3;
    */
    width: 200px;
    text-align: center;
    justify-content: center;
}

.footer {
    /*background-color: blue;*/
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    align-items: center;
    text-align: center;
}

.circle {
    position: relative;
    display: flex;
    border-radius: 50%;
    background-color: #433333;
    text-align: center;
    height: 75%;
    aspect-ratio: 1/1;
    align-self: center;
}
.text_box {

    /* method 1
     * */
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-self: center;
    /*
    */
}
.content {
    /* method 1
     */
    align-self: center;
    */
    */
}

@media only screen and (max-width: 800px) {
    .side > .container > .card {
        /*
        aspect-ratio: 5/3;
        width: 100%;
        flex-basis: 65%;
        */
    }
}
@media only screen and (max-width: 500px) {
    .side {
        position: absolute;
        height: 200px;
        width: 100%;
        bottom: 80px;
        top: auto;
    }
    .side > .container > .card {
        width: auto;
        height: auto;
    }
    .main {
        width: 100%;
    }
}

